In [1]:
from pyspark.sql import SparkSession

In [2]:
# üß† √âtape 2 : Cr√©er la session Spark avec les drivers JDBC
spark = SparkSession.builder \
    .appName("Test MySQL Ingestion") \
    .config("spark.driver.extraClassPath", "/usr/local/spark/jars/*") \
    .getOrCreate()

In [4]:

# ‚úÖ √âtape 3 : Lire la table MySQL
df_mysql = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://mysql:3306/hospital_legacy") \
    .option("dbtable", "patients_legacy") \
    .option("user", "source_reader") \
    .option("password", "Source_Read_2024!") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .load()

In [8]:
df_mysql.show(50)

+---+------------+----------+---------+-------------+------+--------------------+----------+----------+-------------------+------------+-----------------+-------------------+
| id|patient_code|first_name|last_name|date_of_birth|gender|             address|      city|     phone|              email|insurance_id|registration_date|       last_updated|
+---+------------+----------+---------+-------------+------+--------------------+----------+----------+-------------------+------------+-----------------+-------------------+
|  1|      LEG001|     Ahmed|   Benali|   1980-03-15| M    |   12 Rue de la Paix|Casablanca|0611223344|  ahmed.b@email.com|   INS-45678|       2020-01-10|2026-02-23 11:19:44|
|  2|      LEG002|    Fatima|    Zahra|   1975-07-22| F    | 45 Avenue Hassan II|     Rabat|0622334455| fatima.z@email.com|   INS-56789|       2019-05-15|2026-02-23 11:19:44|
|  3|      LEG003|      Omar|  Idrissi|   1990-11-08| M    |78 Boulevard Moha...| Marrakech|0633445566|   omar.i@email.com|   INS-67890|       2021-03-20|2026-02-23 11:19:44|
|  4|      LEG004|   Yasmine|     Tazi|   1985-09-30| F    | 23 Rue des Oliviers|    Tanger|0644556677|yasmine.t@email.com|   INS-78901|       2018-08-05|2026-02-23 11:19:44|
|  5|      LEG005|     Karim|    Fassi|   1978-12-12| M    |   56 Avenue des FAR|      F√É¬®s|0655667788|  karim.f@email.com|   INS-89012|       2022-01-18|2026-02-23 11:19:44|
+---+------------+----------+---------+-------------+------+--------------------+----------+----------+-------------------+------------+-----------------+-------------------+

In [10]:
# Lire le fichier CSV
df_csv = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/home/jovyan/work/data/patients_source.csv")

# Afficher les premi√®res lignes
df_csv.show(10)

+----------+----------+---------+-------------+------+-----------+----------+---------+--------------------+-----------------+
|patient_id|first_name|last_name|date_of_birth|gender|       city|blood_type|    phone|               email|registration_date|
+----------+----------+---------+-------------+------+-----------+----------+---------+--------------------+-----------------+
|   PAT-001|      Jean|   Martin|   1985-03-15|     M|      Paris|        A+|612345678|jean.martin@email...|       2024-01-10|
|   PAT-002|     Marie|  Bernard|   1990-07-22|     F|       Lyon|        O-|698765432|marie.bernard@ema...|       2024-01-15|
|   PAT-003|    Pierre|   Dubois|   1978-11-08|     M|  Marseille|        B+|654321987|pierre.dubois@ema...|       2024-02-01|
|   PAT-004|    Sophie|   Thomas|   1982-09-30|     F|   Toulouse|       AB+|678912345|sophie.thomas@ema...|       2024-02-20|
|   PAT-005|    Michel|   Robert|   1975-12-12|     M|       Nice|        A-|632165498|michel.robert@ema...|       2024-03-05|
|   PAT-006| Christine|    Petit|   1988-04-18|     F|     Nantes|        O+|645678912|christine.petit@e...|       2024-03-12|
|   PAT-007|  Philippe|   Durand|   1980-06-25|     M| Strasbourg|        B-|689123456|philippe.durand@e...|       2024-03-18|
|   PAT-008|  Nathalie|    Leroy|   1992-08-14|     F|Montpellier|        A+|612987654|nathalie.leroy@em...|       2024-03-25|
|   PAT-009|  FranÔøΩois|   Moreau|   1973-02-28|     M|   Bordeaux|       AB-|623456789|francois.moreau@e...|       2024-04-02|
|   PAT-010|  Isabelle|     Roux|   1986-10-05|     F|      Lille|        O-|634567890|isabelle.roux@ema...|       2024-04-10|
+----------+----------+---------+-------------+------+-----------+----------+---------+--------------------+-----------------+

In [12]:
import requests
import pandas as pd

# URL de l'API (depuis le conteneur Spark, utilise le nom du service Docker)
url = "http://api-medical:8000/visits"  # ‚Üê adapte ce endpoint selon ton API

# Requ√™te GET
response = requests.get(url)

# V√©rifie la r√©ponse
if response.status_code == 200:
    data = response.json()
    df_api = pd.DataFrame(data)
    display(df_api)
else:
    print(f"Erreur {response.status_code} : {response.text}")

    count                                             visits
0      48  {'visit_id': '7c8037be-3c2d-4c8f-8159-77c76166...
1      48  {'visit_id': '12e69204-4665-4413-b082-5948a7fc...
2      48  {'visit_id': 'b2c862a2-da77-4c30-b920-cdd9e491...
3      48  {'visit_id': '6eea0e70-7430-414c-9da8-032fdd3a...
4      48  {'visit_id': 'b9e4b181-a6c6-44e1-8e5d-c44bf440...
5      48  {'visit_id': '569dd8d4-d1c5-41cf-82cb-9d29955b...
6      48  {'visit_id': 'de450b2a-0683-4f03-9bf7-0590678d...
7      48  {'visit_id': 'dd6892b3-8cd0-4056-827c-b68d84f2...
8      48  {'visit_id': 'f0f6f059-05f5-4be5-9af0-a96066bf...
9      48  {'visit_id': '9a5f3e56-9478-4c17-bf74-a0585892...
10     48  {'visit_id': 'aa1875ad-d72e-4550-bc2c-446200e4...
11     48  {'visit_id': '95b0a6e4-d70b-403f-b6f1-bd16c9f9...
12     48  {'visit_id': '57efd062-f152-404d-8976-5c48ad4a...
13     48  {'visit_id': 'e6628f95-f25e-4915-aee8-7530be13...
14     48  {'visit_id': 'e7bca79f-bbcf-4bb6-9269-06ad92a9...
15     48  {'visit_id': 'b85daaea-9280-4345-bdc4-a951b7af...
16     48  {'visit_id': 'afb7d177-c551-46cd-95b9-b202089d...
17     48  {'visit_id': '1ad53e1a-517f-43aa-be75-1985545f...
18     48  {'visit_id': '4b6c0d28-51af-4c71-8fa3-a9325579...
19     48  {'visit_id': 'b1824750-5806-4102-9a89-fcaf8cee...
20     48  {'visit_id': '60f26d8a-a978-47ae-bee9-4284be14...
21     48  {'visit_id': 'd390dc01-68c0-4f0b-aa5a-02df4c4b...
22     48  {'visit_id': '0db3dcce-7cd5-4af5-ac9a-08b1fa0a...
23     48  {'visit_id': '1186761c-ed45-4673-9ae4-ad5aec44...
24     48  {'visit_id': '7a4cfeb6-0b74-4aea-baf2-d7183ed8...
25     48  {'visit_id': 'cbf34fd2-4380-4736-bdbc-dbc1d9b0...
26     48  {'visit_id': 'af0ddc78-dc9b-4bf5-9ed7-24de3767...
27     48  {'visit_id': '89de693e-de1d-4746-9342-690f2766...
28     48  {'visit_id': 'b8033fcf-72a5-4e68-9210-40070a42...
29     48  {'visit_id': '6227a116-4192-49b6-a69e-8ebf126e...
30     48  {'visit_id': '577e8fde-5a74-4eb7-80e0-69459b76...
31     48  {'visit_id': '505a490d-ecc9-42fe-96ac-07979152...
32     48  {'visit_id': '3ef97468-4804-4ce6-a831-aaafa747...
33     48  {'visit_id': '711bc917-bb59-425d-956b-d34bc536...
34     48  {'visit_id': '3f837a4f-ea17-482d-b68f-e4e046f5...
35     48  {'visit_id': '0d6b55f2-31fc-4429-805d-1384765f...
36     48  {'visit_id': 'b794fb05-7294-4177-a24f-4273d3c2...
37     48  {'visit_id': '03a4e247-7d9c-47b1-a8f0-fade2c00...
38     48  {'visit_id': '0150e1ea-c957-4a60-b53d-1d00a777...
39     48  {'visit_id': 'f67d706f-8185-4e6c-ba50-5c828e91...
40     48  {'visit_id': '96358114-d992-4402-9736-669aab03...
41     48  {'visit_id': 'ce044170-a1d1-4d78-b23b-0e20dcaf...
42     48  {'visit_id': '184627a6-aad1-490c-899d-1748f575...
43     48  {'visit_id': '68a9c087-39b7-4357-a961-be33b4ee...
44     48  {'visit_id': 'df81962e-e449-4a21-9244-7b98a023...
45     48  {'visit_id': '4402986a-267e-4442-b8f2-4714e190...
46     48  {'visit_id': 'a172d59d-5a0c-46ce-8e54-fe539afc...
47     48  {'visit_id': '8a0e45e0-7db5-4eeb-aa7c-c28a25a0...